# The For production environments, always set this to production.
# By default, the NODE_ENV is "development" which runs considerably slower than "production".
# In "development" mode, BrowserSync (https://www.browsersync.io/) is used to automatically 
# refresh the browser page when content is changed on disc.
NODE_ENV=production

PORT=3000

# Control which debug messages are logged.
# see: https://www.npmjs.com/package/debug#environment-variables
DEBUG=discord-user-manager:*

# Email address for admin user.
# This should be an email address for a domain user
# that can authenticate with one of the OAuth2.0 providers (like Google)
ADMIN_EMAIL=admin@ade-buas.nl

# Create some test users for tesing the UI
# Set this to true to create some test users.
UPSERT_TEST_USERS=true
# If UPSERT_TEST_USERS is true, how many test users to create.
NUM_TEST_USERS=101

# JWT Token secret
JWT_SECRET=[RANDOM_25]

# Session secret
SESSION_SECRET=[RANDOM_25]

# Google Application
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=
