extends layout

block content
  main.flex-shrink-0(role="main")
    .container(style="padding-top:60px")
      h1.mt-5 Edit User #{user.username}

      p.lead This page allows you to edit a user in your Discord server.
