footer.footer.mt-auto.py-3
  .container-fluid
    .row.text-center
      .col-sm-4
        span.text-muted Copyright © #{new Date().getFullYear()}
      .col-sm-4
        a(href="/privacy-policy") Privacy Policy
      .col-sm-4
        a(href="/code-of-conduct") Code of Conduct


