footer.footer.mt-auto.py-3
  .container-fluid
    .row.text-center
      .col-sm.mb-3
        span.text-muted Copyright © #{new Date().getFullYear()}
      .col-sm.mb-3
        a(href="/privacy-policy") Privacy Policy
      .col-sm.mb-3
        a(href="/code-of-conduct") Code of Conduct
    .row.text-center
      .col-sm
        a.text-dark(href="https://github.com/jpvanoosten/discord-user-manager" target="_blank") <i class="fab fa-github"></i>



