extends layout

block content
  main(role="main" style="padding-top: 86px;")
    section.jumbotron.jumbotron-fluid.text-center(style="padding: 60px 30px;")
      .container
        h1.jumbotron-heading Discord User Manager
        p.lead.text-muted The Discord User Manager allows you to manage the users that can join your discord server.

    .py-5
      .container
        .card-deck
          .card
            img.card-img-top(src="/images/code-of-conduct.png" alt="Placeholder Image")
            .card-body.d-flex.flex-column
              h5.card-title Step 1
              if codeOfConduct
                p.card-text Great, you've accepted the Code of Conduct!
                button.btn.btn-primary.btn-block.mt-auto(disabled type="button" aria-disabled="true") Code of Conduct
              else
                p.card-text Accept the Code of Conduct.
                button.btn.btn-primary.btn-block.mt-auto(type="button" data-toggle="modal" data-target="#codeOfConductModal") Code of Conduct
          .card(class= codeOfConduct || "text-muted")
            img.card-img-top(src= ( user && user.img ) || "/images/login.png" alt="Placeholder Image")
            .card-body.d-flex.flex-column
              h5.card-title Step 2
              if user
                p.card-text Great, you're are logged in as #{user.name}!
                a.btn.btn-primary.btn-block.mt-auto(href="/logout") Log out
              else
                p.card-text Log in using one of the OAuth providers.
                a.btn.btn-primary.btn-block.mt-auto(role="button" href="/login" class=(codeOfConduct ? "" : "disabled") ) Log in
          .card
            img.card-img-top(src="/images/discord.png" alt="Placeholder Image")
            .card-body.d-flex.flex-column
              h5.card-title Step 3
              p.card-text Log in to Discord.
              a.btn.btn-primary.btn-block.mt-auto(href="/discord") Discord

  .modal.fade#codeOfConductModal(tabindex="-1" role="dialog" aria-labelledby="codeOfConductModalTitle" aria-hidden="true")
    .modal-dialog(role="document")
      .modal-content
        .modal-header
          h5.modal-title#codeOfConductModalTitle Code of Conduct
          button.close(type="button" data-dismiss="modal" aria-label="Close")
            span(aria-hidden="true") &times;
        .modal-body
          include code-of-conduct-content.pug
        .modal-footer
          a.btn.btn-success.btn-block(role="button" href="/?codeOfConduct=true") Agree


