extends layout

block content
  main(role="main" style="padding-top: 60px;")
    section.jumbotron.jumbotron-fluid.text-center(style="padding: 60px 30px;")
      .container
        h1.jumbotron-heading Discord User Manager
        p.lead.text-muted The Discord User Manager allows you to manage the users that can join your discord server.

    .py-5
      .container
        .card-deck
          .card
            img.card-img-top(src="https://via.placeholder.com/150" alt="Placeholder Image")
            .card-body.d-flex.flex-column
              h5.card-title Step 1
              p.card-text Accept the Code of Conduct.
              a.btn.btn-primary.btn-block.mt-auto(href="/login") Code of Conduct
          .card
            img.card-img-top(src= ( user && user.img ) || "https://via.placeholder.com/150" alt="Placeholder Image")
            .card-body.d-flex.flex-column
              h5.card-title Step 2
              p.card-text Log in using one of the OAuth providers.
              a.btn.btn-primary.btn-block.mt-auto(href="/login") Log in
          .card
            img.card-img-top(src="https://via.placeholder.com/150" alt="Placeholder Image")
            .card-body.d-flex.flex-column
              h5.card-title Step 3
              p.card-text Log in to Discord.
              a.btn.btn-primary.btn-block.mt-auto(href="/login") Log in

