extends layout

block append head
  link(rel="stylesheet" href="/css/signin.css")

block content
  main.flex-shrink-0(role="main")
    .container(style="padding-top:60px")
      .card.my-5.mx-auto.login(style="max-width:350px;")
        form.form-signin.text-center(action="/login" method="post")
          .card-body.text-center
            h1.h3.mb-3.font-weight-normal Please sign in
            .mb-3.mx-auto(style="max-width: 300px;")
              a.btn.btn-primary.btn-lg.btn-block.btn-social.btn-google(role="button" href="/google") 
                img(src="/images/g-logo.png" style="width: 48px;")
                | Sign in with Google

            .division.mb-3
              span.px-3 external login

            .form-group
              label.sr-only(for="username") Username
              input.form-control#username(class=(usernameError && "is-invalid")  type="text" placeholder="Username" name="username" value=username required autofocus)
              if usernameError
                .invalid-feedback= usernameError
            .form-group
              label.sr-only(for="password") Password
              input.form-control#password(class=(passwordError && "is-invalid") type="password" placeholder="Password" name="password" required)
              if passwordError
                .invalid-feedback= passwordError
            button.btn.btn-primary.btn-lg.btn-block(type="submit") Log in

