extends layout

block append head
  link(rel="stylesheet" href="stylesheets/signin.css")

block content
  form.form-signin.text-center(action="/login" method="post")
    h1.h3.mb-3.font-weight-normal Please sign in
    p.lead This is for administrators only.
    .form-group
      label.sr-only(for="username") Username
      input.form-control#username(class=(usernameError && "is-invalid")  type="text" placeholder="Username" name="username" value=username required autofocus)
      if usernameError
        .invalid-feedback= usernameError
    .form-group
      label.sr-only(for="password") Password
      input.form-control#password(class=(passwordError && "is-invalid") type="password" placeholder="Password" name="password" required)
      if passwordError
        .invalid-feedback= passwordError
    button.btn.btn-primary(type="submit") Submit

