p.lead This website collects some personal data from its users.

h4 Personal data collected for the functioning of this website

h5 G Suite (Google)
p This website uses OAuth2.0 to enable logging into your G Suite account. 
  | The following information is collected from your profile:
  ul
    li E-mail address
    li Avatar
    li Username
    li Name

h5 Discord
p This website uses OAuth2.0 to enable logging into your Discord account. 
  | The following information is collected from your profile:
  ul
    li Discord ID
    li Discord username &amp; descriminator
    li Avatar

h5 Storage
p The data is collected in a database that resides on the server owned by the Breda University of Applied Sciences in Breda, The Netherlands. 
  | The data is never shared with external parties and it is not intended to be made available outside of the server controlled by the University.

h5 Data Controller
p
  | Jeremiah van Oosten
  br 
  | Breda University of Applied Sciences
  br 
  | Mgr. Hopmansstraat 1
  br
  | 4817 JS, Breda
p
  strong Contact email: 
  a(href="mailto:oosten.j@buas.nl") oosten.j@buas.nl

