extends layout

block content
  main.flex-shrink-0(role="main")
    .container(style="padding-top:60px")
      h1.mt-5 Privacy &amp; Cookie Policy
      p.lead This website collects the following information from its visitors.
      pre #{path}
